<div class="modal">
  <header class="bar bar-header bar-positive">
    <h1 class="title">{{ title }}</h1>
    <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-ios-close-outline"></span></div>
  </header>

  <ion-view>
    <ion-content class="has-header">

      <ion-item class="item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input id="search" type="search" placeholder="{{modal.title}}" ng-change="search()" ng-focus="scrollTop()" ng-value="station.id" ng-model="station.name" autofocus />
        </label>

        <form name="search_form" ng-submit="clearSearch()">
          <button class="button button-clear no-margin no-padding" style="text-align: right;" ng-click="clear()">
            <i class="icon ion-android-cancel"></i>
          </button>
        </form>
      </ion-item>

      <div class="list no-margin no-padding" ng-if="suggestions">
        <li class="item" ng-repeat="suggestion in suggestions" ng-click="onSelect(suggestion)">
          {{suggestion.name}}
        </li>
      </div>

    </ion-content>
  </ion-view>
</div>
