<ion-view view-title="Info">
  <ion-content class="padding-horizontal">

    <ion-list class="list list-inset">
      <ion-item class = "item-image padding calm-bg">
        <img src="img/qrcode.png" style="width: 55%; height: 55%">
      </ion-item>

      <ion-item class = "item-avatar item-text-wrap">
        <img src="img/ionic.png">
        <h2>Built with Awesome and Powerful Ionic Framework</h2>
        <a class="dark" href="http://ionicframework.com" target="_blank">http://ionicframework.com</a>
      </ion-item>

      <ion-item class = "item-icon-left">
        <i class="icon ion-social-twitter calm"></i>
        <a class="calm" href="https://twitter.com/intent/tweet?status=VGN Departures web app (http://vgn.herokuapp.com) - built with Awesome and Powerful Ionic Framework!" target="_blank">Tweet</a>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
