<ion-view view-title="Connections">
  <ion-content>
    <ion-list>
      <div class="">
        <ion-item class="item item-divider item-icon-left">
          <i class="icon ion-clock"></i>
          Nürnberg
          <p>{{ date }} {{ time }}</p>
        </ion-item>

        <ion-item class="item item-input padding" placeholder="From" ng-click="openModal('sl')" ng-value="sl.id" ng-model="sl.name">
          <i class="icon ion-log-in placeholder-icon"></i>
          {{sl.name}}
        </ion-item>

        <i class="icon icon-swap ion-arrow-swap" ng-click="swap()"></i>

        <ion-item class="item item-input padding" placeholder="From" ng-click="openModal('zl')" ng-value="zl.id" ng-model="zl.name">
          <i class="icon ion-log-out placeholder-icon"></i>
          {{zl.name}}
        </ion-item>
      </div>

      <div class="list" ng-if="connections">
        <ion-item class="item list-inset" ng-repeat="connection in connections">
          <div class="row no-padding">
            <div class="col col-50 no-padding">
              <b class="bold">{{connection.departure()}}-{{connection.arrival()}}</b>
            </div>
            <div class="col col-50 no-padding text-right">
              <span class="item-multi item-transport-small {{transport.transport}} {{transport.line}} {{'n' + connection.transports.length}}" ng-repeat="transport in connection.transports" >
                {{transport.line}}
              </span>
            </div>
          </div>

          <p>{{connection.info}}</p>
        </ion-item>
      </div>

    </ion-list>
  </ion-content>
</ion-view>
