<ion-view view-title="VGN departures">

  <ion-content>
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input id="search" type="search" placeholder="Search" ng-change="search()" ng-model="$parent.station">
      </label>
      <button class="button button-small button-clear" ng-click="clearSearch()">
        <i class="icon ion-android-cancel"></i>
      </button>
    </div>

    <ul class="tags">
    	<li ng-repeat="tag in tags track by $index" ng-click="removeTag(tag)">
        <a href="#">{{tag.name}}</a>
      </li>
    </ul>

    <div class="list no-margin no-padding" ng-hide="suggestions.length === 0">
      <li class="item" ng-repeat="suggestion in suggestions" ng-click="loadDepartures(suggestion)">{{suggestion.name}}</li>
    </div>

    <div class="item item-divider" ng-if="departures">
      {{ clock }} Departures
    </div>

    <div class="list">
      <li class="item item-avatar" ng-repeat="departure in departures">
        <span class="item-transport {{departure.transport}} {{departure.line}}" ng-click="addTag({ type: 'transport', name: departure.transport_long})">
          {{departure.line}}
        </span>
        <h2>
          <a href="#" ng-click="addTag({ type: 'direcion', name: departure.direction})">
            {{ departure.direction }}
          </a>
        </h2>
        <p>
          <i class="icon ion-clock"></i>
          {{ departure.time() }}
          <span ng-if="departure.delay != 0">({{ departure.delay }})</span>
        </p>
        <span class="badge badge-assertive">{{ departure.time_left() }}</span>
      </li>
    </div>

  </ion-content>
</ion-view>
