<ion-view view-title="VGN departures">

  <!-- <ion-header-bar class="bar-subheader item-input-inset">
      <div class="button-bar">
          <a class="button" ng-class="{'button-positive': isActive('breakfast')}" ng-click="setActive('breakfast')">Breakfast</a>
          <a class="button" ng-class="{'button-positive': isActive('lunch')}" ng-click="setActive('lunch')">Lunch</a>
          <a class="button" ng-class="{'button-positive': isActive('dinner')}" ng-click="setActive('dinner')">Dinner</a>
      </div>
  </div> -->

  <!-- <ion-header-bar class="bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-change="search()" ng-model="station">
    </label>
    <button class="button button-clear">
      Cancel
    </button>
  </ion-header-bar> -->

  <ion-content>
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input id="search" type="search" placeholder="Search" ng-change="search()" ng-model="$parent.station">
      </label>
      <button class="button button-small button-clear" ng-click="clearSearch()">
        <i class="icon ion-android-cancel"></i>
      </button>
    </div>

    <div class="list no-margin no-padding" ng-hide="suggestions.length === 0">
      <li class="item" ng-repeat="suggestion in suggestions" ng-click="loadDepartures(suggestion)">{{suggestion.name}}</li>
    </div>

    <div class="item item-divider" ng-if="departures">
      {{ clock }} Departures
    </div>

    <div class="list">
      <li class="item item-avatar" ng-repeat="departure in departures">
        <span class="item-transport {{departure.transport}} {{departure.line}}">{{departure.line}}</span>
        <h2>{{ departure.direction }}</h2>
        <p>
          <i class="icon ion-clock"></i>
          {{ departure.time() }}
          <span ng-if="departure.delay != 0">({{ departure.delay }})</span>
        </p>
        <span class="badge badge-assertive">{{ departure.time_left() }}</span>
      </li>
    </div>

  </ion-content>
</ion-view>
