<ion-view view-title="Favorites">
  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-if="editMode" ng-click="deleteAll()">
      Delete all
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-if="favorites.length !== 0" ng-click="edit()">
      <i class="icon ion-ios-compose-outline"></i>
    </button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <ion-list show-delete="editMode" can-swipe="true">
      <ion-item class="item-icon-left item-text-wrap" ng-if="favorites.length == 0">
        <i class="icon ion-ios-information-outline"></i>
        No favorites found
        <p>In order to add a Favorite, press 'star' icon to the right of search field</p>
      </ion-item>

      <ion-item ng-repeat="favorite in favorites" class="item-icon-left" ng-click="go(favorite)">
        <i class= "icon ion-star energized"></i>
        {{favorite.name}}
        <ion-option-button class="button-assertive" ng-click="delete(favorite)">Delete</ion-option-button>
        <ion-delete-button class="ion-minus-circled" ng-click="delete(favorite)"></ion-delete-button>
      </ion-item>

    </ion-list>
  </ion-content>

</ion-view>
