<ion-view view-title="Info">
  <ion-content class="padding-horizontal">

    <ion-list class="list list-inset">
      <ion-item class = "item-image padding stable-bg">
        <img src="img/qrcode.png" style="width: 55%; height: 55%">
      </ion-item>

      <ion-item class = "item-icon-left item-text-wrap">
        <i class="icon ion-ionic positive"></i>
        <h2>Built with Awesome and Powerful Ionic Framework</h2>
        <a class="dark" href="http://ionicframework.com" target="_blank">http://ionicframework.com</a>
      </ion-item>

      <ion-item class="item-icon-left item-divider">
        <i class= "icon ion-social-rss-outline"></i>
        Share with Friends
      </ion-item>
      <ion-item class="item-icon-left" class="positive" href="https://twitter.com/intent/tweet?status=VGN Departures web app (http://vgn.herokuapp.com) - built with Awesome and Powerful Ionic Framework!" target="_blank">
        <i class="icon ion-social-twitter positive"></i>
        <a>Tweet</a>
      </ion-item>

      <ion-item class="item-icon-left item-divider">
        <i class= "icon ion-ios-help-outline"></i>
        Need Help?
      </ion-item>
      <ion-item class="item-icon-left item-text-wrap" ng-click="help()">
        <i class= "icon ion-ios-upload-outline positive"></i>
        Show me how to pin a webapp to the home screen (supported OS: iOS >= 6, Android >= 4)
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
