<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Departures Tab -->
  <ion-tab title="Departures" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/departures">
    <ion-nav-view name="tab-departures"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Favorites" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/tab/favorites">
    <ion-nav-view name="tab-favorites"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
