/* Empty. Add your own CSS if you like */
body {
  background: #eee;
}

ion-nav-view {
  background-color: #f7fafa;
}

ion-pane:first-of-type {
  box-shadow: 0 0 14px #636363;
}

ion-pane:first-of-type {
  margin: 0 auto;
  max-width: 960px;
}

.modal {
  top: 0;
  bottom:0;
  left: 0;
  right: 0;

  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 14px #636363;

  width: 100%;
  max-width: 960px;
}

@media (min-width: 960px) {
  .modal {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.scroll-content {
  background: rgba(255,255,255,0.8);
}

.item .badge {
  right: 16px;
  top: 16px;
}

.badge-grey {
  background-color: #777;
  color: #fff;
}

.grey {
  /*background-color: #777;*/
  color: #777;
}

.bold {
  font-weight: bold;
}

.no-bold {
 font-weight: normal;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.spinner svg {
  width: 128px !important;
  height: 128px !important;
}

.ng-hide {
  /* this is just another form of hiding an element */
  display: block!important;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

input#search {
  width: 100%;
}

.item-input-wrapper ~ .button-search {
  margin-left: 0px;
}

.icon-swap {
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 50%;
  color: #666;
  font-size: 20px;
  font-weight: 700;
  height: 32px;
  margin-top: -16px;
  padding: 5px;
  position: absolute;
  right: 10px;
  text-align: center;
  transform: rotate(90deg);
  vertical-align: middle;
  width: 32px;
  z-index: 100;
  cursor: pointer;
}

.tags{
	/*margin: 5px 15px;*/
  padding: 5px 15px;
	list-style:none;
  display:block;
  /*background-color: #EFEFEF;*/
}

.tags li, .tags a{
	height:24px;
	line-height:24px;
	position:relative;
	font-size:11px;
  display: inline-block;
}

.tags a{
	margin-left:20px;
	padding:0 5px 0 12px;
	background:#0089e0;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
}

.tags a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent #0089e0 transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;
}

.tags a:after{
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #004977;
	-webkit-box-shadow:-1px -1px 2px #004977;
	box-shadow:-1px -1px 2px #004977;
}

.item-avatar > img.square {
  border-radius: 0;
}

.item-multi { margin: 0px 0px 0px 5px; overflow: visible; }

.item-transport {
  color: white;
  height: 100%;
  left: 16px;
  line-height: 40px;
  max-height: 40px;
  max-width: 40px;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 100%;
  cursor: pointer;
}

.item-transport-small {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  width: 24px;
  margin: 0 2px;
}

.Stadtbus, .S-Bahn, .R-Bahn {
  border-radius: 50%;
}

.Stadtbus {
  background-color: #F60004;
}

.Straßenbahn {
  background-color: #91006C;
}

.S-Bahn {
  background-color: #4AB15C;
}

.R-Bahn {
  background-color: #079063;
}

.U1 {
  background-color: #006193;
}

.U11 {
  background-color: #F3953E;
}

.U2 {
  background-color: #E30613;
}

.U21 {
  background-color: #FFD500;
}

.U3 {
  background-color: #25B7BC
}

.Fussweg {
  background-image: url('../img/Fuss.png');
  background-color: #f0f0f0;
  background-size: 100%,  80%;
  margin: -8px 5px;
}

/* CSS3 Animations */
.pulse {
	-webkit-animation: pulse 1s linear infinite;
	-moz-animation: pulse 1s linear infinite;
	-ms-animation: pulse 1s linear infinite;
	animation: pulse 1s linear infinite;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;}

@keyframes "pulse" {
 0% {
    -webkit-transform: scale(1.1);
   	-moz-transform: scale(1.1);
   	-o-transform: scale(1.1);
   	-ms-transform: scale(1.1);
   	transform: scale(1.1);
 }
 50% {
    -webkit-transform: scale(0.8);
   	-moz-transform: scale(0.8);
   	-o-transform: scale(0.8);
   	-ms-transform: scale(0.8);
   	transform: scale(0.8);
 }
 100% {
    -webkit-transform: scale(1);
   	-moz-transform: scale(1);
   	-o-transform: scale(1);
   	-ms-transform: scale(1);
   	transform: scale(1);
 }
}

@-moz-keyframes pulse {
 0% {
   -moz-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -moz-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -moz-transform: scale(1);
   transform: scale(1);
 }
}

@-webkit-keyframes "pulse" {
 0% {
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -webkit-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -webkit-transform: scale(1);
   transform: scale(1);
 }
}

@-ms-keyframes "pulse" {
 0% {
   -ms-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -ms-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -ms-transform: scale(1);
   transform: scale(1);
 }
}
