/* Empty. Add your own CSS if you like */
ion-nav-view {
  background-color: #f7fafa;
}

ion-pane:first-of-type {
  box-shadow: 0 0 14px #636363;
}
ion-pane:first-of-type {
  margin: 0 auto;
  max-width: 960px;
}

.bold {
  font-weight: bold;
}

.no-bold {
 font-weight: normal;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.spinner svg {
  width: 128px !important;
  height: 128px !important;
}

.ng-hide {
  /* this is just another form of hiding an element */
  display: block!important;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

input#search {
  width: 100%;
}

.item-input-wrapper ~ .button-search {
  margin-left: 0px;
}

.tags{
	/*margin: 5px 15px;*/
  padding: 5px 15px;
	list-style:none;
  display:block;
  /*background-color: #EFEFEF;*/
}

.tags li, .tags a{
	height:24px;
	line-height:24px;
	position:relative;
	font-size:11px;
  display: inline-block;
}

.tags a{
	margin-left:20px;
	padding:0 5px 0 12px;
	background:#0089e0;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
}

.tags a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent #0089e0 transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;
}

.tags a:after{
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #004977;
	-webkit-box-shadow:-1px -1px 2px #004977;
	box-shadow:-1px -1px 2px #004977;
}

.item-avatar > img.square {
  border-radius: 0;
}

.item-transport {
  color: white;
  height: 100%;
  left: 16px;
  line-height: 40px;
  max-height: 40px;
  max-width: 40px;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 100%;
  cursor: pointer;
}

.Stadtbus, .S-Bahn {
  border-radius: 50%;
}

.Stadtbus {
  background-color: #F60004;
}

.Straßenbahn {
  background-color: #91006C;
}

.S-Bahn {
  background-color: #4AB15C;
}

.U1 {
  background-color: #006193;
}

.U11 {
  background-color: #F3953E;
}

.U2 {
  background-color: #E30613;
}

.U21 {
  background-color: #FFD500;
}

.U3 {
  background-color: #25B7BC
}
